@model ProductInfo

@{
    ViewData["Title"] = "product details";
}

<div class="row">

    <div class="col-md-8 offset-2">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header bg-info text-white">
                        <h5 class="card-title">
                            @Model.Name
                        </h5>

                    </div>
                </div>
                <div class="col-md-4">
                    <img src="~/@Model?.PictureUrl" class="img-fluid" alt="product picture">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model?.Description</p>
                        <p class="card-text">
                            <b>Brand: </b>
                            <a asp-controller="Home" asp-action="Filter" asp-route-productBrandId="@Model?.ProductBrandId">
                                @Model?.ProductBrand?.Name
                            </a>
                        </p>
                        <p class="card-text">
                            <b>Type: </b>
                            <a asp-controller="Home" asp-action="Filter" asp-route-productTypeId="@Model?.ProductTypeId">
                                @Model?.ProductType?.Name
                            </a>
                        </p>
                        <p class="card-text"><b>Rate: </b>@Model?.Rate.ToString()</p>
                        <p class="card-text"><b>Available Amount: </b>@Model?.AvailableAmount</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <p class="card-text">
                            <a class="btn btn-success" asp-action="Details" asp-route-id="@Model?.Id">
                                <i class="bi bi-cart-plus"></i>
                                Add to cart (Price @Model.Price.ToString("c"))
                            </a>
                            <a class="btn btn-outline-primary float-end" asp-action="Index">
                                Back to list
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




