<app-nav-bar></app-nav-bar>
<router-outlet ></router-outlet>
<p style="margin-top: 140px;">
    Hellp There
</p>
<p>
    hey asdjkl;kl;dfsd
    dsf
    sdf
    sdfsd
    f
    sdffsd
    f
    sd
    f
    sd
    
</p>
<!-- <div class="footer-basic">
    <footer >
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Company Name © 2018</p>
    </footer>
</div> -->
<div *ngIf="false" class="spinner">
    <mat-spinner></mat-spinner>
</div>