<mat-toolbar class="nav" >
  <mat-toolbar-row>
    <img src="\assets\logo\logo.png" style="height: 130px;">
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon [matBadge]="this.numberOfItems" matBadgeColor="primary">shopping_cart</mat-icon>
      <span class="cdk-visually-hidden">
      </span>
    </button>
    <button mat-icon-button (click)="this.toggle()">
      <mat-icon *ngIf="!sideNavOpened">menu</mat-icon>
      <mat-icon *ngIf="sideNavOpened">close</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row >
    <form action="" action="/" style="width: 100%; font-size: large;">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search products...">
        <button class="btn btn-primary" type="button">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>
   
  </mat-toolbar-row>
</mat-toolbar>
<!-- <app-side-nav *ngIf="sideNavOpened">
</app-side-nav> -->
